name: Windows CMake Build

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]
  workflow_dispatch:

jobs:
  build:
    runs-on: windows-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@master

      - name: Install Qt
        uses: jurplel/install-qt-action@master
        with:
          version: '5.15.2'
          host: 'windows'
          arch: 'win64_msvc2019_64'

      - name: Setup Ninja
        uses: ashutoshvarma/setup-ninja@master
        with:
          version: 1.10.1

      - name: Build Setup
        uses: ilammy/msvc-dev-cmd@master
        with:
          toolset: '14.29'

      - name: Setup cmake
        uses: jwlawson/actions-setup-cmake@master
        with:
          cmake-version: '3.22.x'

      - name: Install blaze 
        run: |
          git clone https://github.com/parsa/blaze 
          cd blaze 
          mkdir build && cd build 
          cmake -G"NMake Makefiles" -DCMAKE_BUILD_TYPE=Release -DBLAZE_BLAS_MODE=OFF -DUSE_LAPACK=OFF -DBLAZE_CACHE_SIZE_AUTO=OFF ..
          cmake --install .
        shell: cmd

      - name: Build with CMake
        uses: ashutoshvarma/action-cmake-build@master
        with:
          build-dir: ${{ runner.workspace }}/build
          cc: cl
          cxx: cl
          configure-options: -G Ninja
          build-type: Release
